body { 
	margin:0;
	padding:0;
	 }
	
ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   11px;
	line-height: 14px;
	font-weight:normal;
	padding:1em;
}

p {
	font-family: helvetica, arial, helvetica, sans-serif;
	font-size:   16px;
	line-height: 22px;
	font-weight:normal;
	color: #3d3d3d;
	padding:2px;
	text-align:justify;
	}
	
table {
	margin:0;
	padding:10px;
	height:auto;
}


label {
	font-size:12px;
	color:#655c50;
}

tr {
	vertical-align:top ;
	height:auto;
}

td {
	/*borders and padding to make the table readable*/
	margin:0;
	padding-left: 5px;
}

pre {
  background-color: #3d3d3d;
  padding: 10px;
  font-size: 11px;
}



a { color: gray; font-size:12px; text-decoration:none; }
a:visited { color:orange; }
a:hover { color: orange; }

em {
	font-family: sans-serif;
	font-size:   14px;
	font-weight: normal;
	color:#fff;
}

h1 {
	font-family: sans-serif;
	text-align:left;
	font-size: 26px;
	font-style:italic ;
	color: #fff; 
}

h2 {
	font-family: sans-serif;
	text-align:left;
	font-size: 20px;
	font-style:normal ;
	color: #a4451a;
}

h3 {
	text-align:left;
	color:#828f98;
	line-height:20px;
}

ul {
}

ul li {
	margin-bottom:5px;
	list-style:none;
	font-size:14px;
}

li a {
	color:#3d3d3d;
}


#wrapper {
	margin:0;
	padding:0;
	width:900px;
	margin-left:10%;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   11px;
	line-height: 14px;
	font-weight:normal;
	color: #3d3d3d;	
	}

#capricorn {
	padding:0;
	margin:0;
	margin-left:10%;
	margin-bottom:1em;
	background:#fff;
}



#main {
	padding:2em;
	margin-left:2em;
	width:100%;
	background:#515341;
}

#top_image_corner_left {
	float:left;
	vertical-align:top;
	padding:0;
	margin:0;
}

#top_image_corner_right {
	float:right;
	vertical-align:top;
	padding:0;
	margin:0;
}


#logo {
	padding-left:7em;
}


#menu {
	width:1000px;
	height:98px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style:italic;
	margin:0;
	margin-right:4em;
}


#content {
	margin:0;
	padding:0;
	text-align:justify;
	font-size:14px;
	margin-left:1em;
}

#text {
	margin:0;
	padding:2.5em;
	padding-left:0;
}

#homepage {
}

#content .text {
	padding:1em;
	padding-bottom:3px;
}

.legend {
	font-style:italic;
	margin-top:1em;
	font-size: 10px;
	padding:1em;
	color:#3d3d3d;
}

p.legend {
	font-style:italic;
	margin-top:1em;
	font-size: 14px;
	padding:1em;
	line-height:18px;
	color: #3d3d3d;
	text-align:justify;
}

p.home_legend {
	font-style:italic;
	margin-top:1em;
	font-size: 14px;
	line-height:18px;
	padding:1em;
	color: #656565;
	text-align:justify;
}

.bullet {
	background: url(../images/bullet.gif) no-repeat;
	padding-left:20px;
	height:10px;
}
.note {
	margin: 1px;
	font-size: 10px;
	font-style: italic;	
	font-weight: normal;
	line-height: 16px;
	color:#8a8a8a;
}

span.note {
	margin: 1px;
	font-size: 10px;
	font-style: italic;	
	font-weight: normal;
	line-height: 12px;
	color:#8a8a8a;
}
td .note a {
	font-style: italic;	
	font-size: 10px;
}


.note_white {
	margin: 1px;
	font-size: 10px;
	font-style: italic;	
	font-weight: normal;
	line-height: 16px;
	color: #fff;
	
}

.website {
	padding:1em;
	padding-left:0;
	width:auto;
}
.website table td {
	margin:0;
	padding:0;
}

.website h3 {
	font-family: helvetica, sans-serif;
	color:#666;
	font-size:14px;
}

.website a {
	font-size: 10px;
	font-style: italic;	
	font-weight: normal;
	text-decoration:none;
}

.website td {
	height:auto;
	width:450px;
	margin:0;
	vertical-align:top;
}

.website .image a:hover{
	color:orange;
	} 
	
/*.website img {
	background:#fff;
	width:300px;
	    box-shadow: 3px 3px 3px #7C7C7C;
	    }
	*/
div.caption {
	margin:0;
	padding:0;
	font-size: 10px;
	font-style: italic;	
	font-weight: normal;
	line-height: 16px;
	color:#666;
	margin-top:5px;
}
.website .joint {
	font-size:9px;
	font-style: italic;	
	color:#8a8a8a;
}

.website .joint a {
	font-size:9px;
	color:#3d3d3d;
	font-style: italic;	
}

.website .joint a:hover {
	background:white;
}

.css3-shadow,
.css3-gradient1,
.css3-gradient2
{
  	position:relative;
	background:#fff;
	padding:20px;
	height:200px;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    		box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
	width:80%;
	height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
	left:10%;
	right:10%;
}

/*==================================================
 * Drop shadow effect with radial gradient
 * ===============================================*/
.css3-gradient1:after{
	content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    bottom:0;
	width:120%;
	height:50px;
	left:-10%;
	right:-10%;
background:-webkit-radial-gradient(50% -3%, ellipse cover, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
background:		   radial-gradient(ellipse at 50% -3%, rgba(00, 00, 00, 0.5), rgba(97, 97, 97, 0.0) 40%);
}

/*==================================================
 * Glow effect with box-shadow
 * ===============================================*/
.css3-gradient2:after{
	content:"";
    position:absolute;
    z-index:-1;
    top:100%;
    bottom:0;
	width:120%;
	height:90px;
	left:-10%;
	right:-10%;
background: -webkit-radial-gradient(50% -3%, ellipse cover, rgba(96, 251, 202, 0.8), rgba(112, 220, 255, 0.5), rgba(255, 116, 225, 0.0) 50%), -webkit-radial-gradient(80% 10%, circle contain, rgba(96, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 180%), -webkit-radial-gradient(90% 20%, circle contain, rgba(255, 255, 202, 0.8), rgba(255, 255, 255, 0.0) 60%);
background:radial-gradient(ellipse at 50% -3%, rgba(96, 251, 202, 0.8), rgba(112, 220, 255, 0.5), rgba(255, 116, 225, 0.0) 50%), radial-gradient(circle at 80% 10%, rgba(96, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 2%), radial-gradient(circle at 90% 20%, rgba(255, 251, 202, 0.8), rgba(255, 255, 255, 0.0) 1%);
}
/*==================================================
 * Tabs
 * ===============================================*/
.tabrow {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.tabrow li {
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid #AAA;
    background: #ECECEC;
    display: inline-block;

}.tabrow li.selected {
    background: #FFF;
    color: #000;
}

.tabrow {
    position: relative;
}
.tabrow:after {
    position: absolute;
    content: "";
    width: 140%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}

.tabrow:before {
    z-index: 1;
}
.tabrow li {
    position: relative;
    z-index: 0;
}

.tabrow li.selected {
    z-index: 2;
    border-bottom-color: #FFF;
}

.tabrow li a {
	color:gray;
}
.tabrow li a:hover {
	color:blue;
}
.tabrow li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.tabrow li:before {
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
.tabrow li:after {
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}

.tabrow li {
    background:      -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}

.tabrow li.active {
    background:      -o-linear-gradient(top, #529fd7 50%, #D1D1D1 100%);
    background:     -ms-linear-gradient(top, #529fd7 50%, #D1D1D1 100%);
    background:    -moz-linear-gradient(top, #529fd7 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #529fd7 50%, #D1D1D1 100%);
    background: linear-gradient(top, #529fd7 50%, #D1D1D1 100%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}

.tabrow li.active a {
    text-shadow:none;
	color:white;
}
*  ERROR handling */

.fieldWithErrors {
  padding: 1px;
  border:1px dotted red;
  background-color: #e85120;
  display: table;
}

#errorExplanation {
	width:50%;
	padding:0;
	margin-bottom: 10px;
	font-style:italic;
	color: #fff;
	background:#ddb386;
	padding:7px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  color: #e85120;
}

#errorExplanation p {
  color: #333;
	font-size:9px;
  padding: 5px 5px 5px 15px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}